/*
font-family: 'Montserrat', sans-serif;
font-weight: 300/400/700

Color palette: 
Redish - #F04C63
Grayish - #C6C4C4
Blueish - #51C5DD
Off white - #F7F6F6
Dark blueish - #0A4F70
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #51C5DD;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #F7F6F6;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: .25rem;
    font-weight: 400;
    letter-spacing: .05rem;
    padding-bottom: 20px;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #F7F6F6;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.brand {
    font-size: 3rem;
    text-transform: uppercase;
    color: #F7F6F6;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #F7F6F6;
    background-color: transparent;
    border: 2px solid #F7F6F6;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: #000;
    background-color: #F7F6F6;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-image {
    border-radius: 100%;
}


/* Header starts */
#header {
    position: fixed;
    z-index: 420;
    left: 0;
    top: 0;
    width: 100vw; 
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden; 
    transition: .3s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #F7F6F6;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    color: rgba(240, 248, 255, 0.021);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #F7F6F6;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 69;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 5px;
}

#header .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #F7F6F6;
    animation: hamburger_pulse 1.5s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #F7F6F6;
    z-index: -1;
}

#header .hamburger .bar::after, 
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #F7F6F6;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::after {
    top: 0;
} 

#header .hamburger.active .bar::before {
    bottom: 0;
} 

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1); 
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #51C5DD;
}

#header .header .nav-bar .brand a {
    color: #F7F6F6;
}
/* Header ends */

/* Hero section starts */
#hero {
    background-color: #F04C63;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F7F6F6;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .hero .hero-image{
    position: relative;
    left: 600px;
    width: 200px;
}
/* Hero section ends */


/* About Me section starts */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-left .about-img {
    position: relative;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #F04C63;
    border-radius: 100%;
    z-index: -1;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;

}

#about .col-right h2 {
    margin-left: auto;
}

#about .col-right p {
    padding: 5px;
    line-height: 2rem;
}

#about .col-right .cta {
    margin-bottom: 20px;
}
/* About Me section ends */


/* Serive section starts */
#services {
    background-color: #0A4F70;
}

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(Images/ServicesBackground.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: #F7F6F6;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: #F7F6F6;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

#services .service-item a {
    color: #51C5DD;
}
/* Service section ends */


/* Projects section starts */
#projects {
    background-color: #C6C4C4;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-item p {
    line-height: 1.75rem;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#projects .project-info h1{
    color: #C6C4C4;
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info a {
    color: #C6C4C4;
}

#projects .project-image {
    flex-basis: 50%;
    height: 300px;
    width: 500px;
    overflow: hidden;
    position: relative;
}

#projects .project-image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

#projects .project-image img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-image img {
    transform: scale(1.1);
}
/* Projects section ends */


/* Contact section starts */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 500px;
}

#contact .contact-item {
    width: 80%;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info a {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* Contact section ends */


/* Footer section starts */
#footer{
    background-image: linear-gradient(60deg, #29323c, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: #F7F6F6;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icons {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item img:hover {
    filter: grayscale(0);
}

#footer p {
    font-size: 1.3rem;
}

#footer .footer .brand {
    text-align: center;
}

#footer .footer .footer-text h2 {
    text-align: center;
}

#footer .footer .footer-copyright p {
    text-align: center;
}
/* Footer section ends */


/* Keyframes start */
@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100% {
        color: #000;
    }
}

@keyframes text_reveal_name{
    100% {
        color: #F7F6F6;
        font-weight: 700;
    }
}
/* Keyframes end */


/* Media query for small devices start */
@media only screen and (min-width:320px) and (max-width:540px) {
    #services .services .service-top p {
        line-height: 3rem;
    }
    
    #header .nav-list ul {
        left: 200%;
    }

    #projects .project-item {
        width: 60%;
    }

    #contact .contact-item {
        width: 50%;
        margin: auto;
    }

    #footer .footer .footer-copyright p {
        line-height: 2rem;
    }
}

@media only screen and (min-width:768px) {
    #hero h1 {
        font-size: 5rem;
    }

    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #F04C63;
    } 

    #about .col-right {
        text-align: right;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: right;
    }

    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: .5%;
    }
    
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        height: 250px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-image {
        height: 100%;
    }

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}
/* Media query for small devices end */


/* Media query for desktop start */
@media only screen and (min-width:1200px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.5rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* Media query for desktop end */